{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>
 
    
    <!-- Job List Area Start -->
    <div class="job-listing-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <!-- Left content -->
                <div class="col-xl-3 col-lg-3 col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="small-section-tittle2 mb-45">
                                <div class="ion">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="12px">
                                        <path fill-rule="evenodd" fill="rgb(27, 207, 107)" d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"/>
                                    </svg>
                                </div>
                                <h4>Filter Jobs</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Job Category Listing start -->
                    <div class="job-category-listing mb-50">
                        <!-- single one -->
                        <div class="single-listing">
                            <div class="small-section-tittle2">
                                <h4>Job Category</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select name="category" id="category">
                                    <option value="">All Category</option>
                                    {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            
                            
                            
                            <!--  Select job items End-->
                            <!-- select-Categories start -->
                            <div class="select-Categories pt-80 pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Job Type</h4>
                                </div>
                                <form method="get" action="{% url 'job-list' %}">
                                    <select name="job_type" id="job_type">
                                        <option value="">All</option>
                                        {% for type_key, type_label in job_types %}
                                            <option value="{{ type_key }}" {% if type_key == request.GET.job_type %}selected{% endif %}>{{ type_label }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <!-- single two -->
                        <div class="single-listing">
                            <div class="small-section-tittle2">
                                <h4>Job Location</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select name="select" id="location">
                                    <option value="">Select by location</option>
                                    {% for location in locations %}
                                        <option value="{{ location }}">{{ location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!--  Select job items End-->
                            <!-- select-Categories start -->
                            <div class="select-Categories pt-80 pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Experience</h4>
                                </div>
                                <label class="container">1-2 Years
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <!-- single three -->
                        <div class="single-listing">
                            <!-- select-Categories start -->
                            <div class="select-Categories pt-80 pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Date Range</h4>
                                </div>
                                <form method="get" action="{% url 'job-list' %}">
                                    <label>Select Date Range:</label>
                                    <div>
                                        <label class="container" for="all">
                                        <input type="checkbox" name="date_range" id="all" value="" {% if not request.GET.date_range %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                        All
                                        </label>
                                        <label class="container" for="0-1">
                                        <input type="checkbox" name="date_range" id="0-1" value="0-1" {% if request.GET.date_range == "0-1" %}checked{% endif %}>
                                        <span class="checkmark"></span> 
                                        0-1 days
                                        </label>
                                        <label class="container" for="2-4">
                                            <input type="checkbox" name="date_range" id="2-4" value="2-4" {% if request.GET.date_range == "2-4" %}checked{% endif %}>
                                            <span class="checkmark"></span> 
                                            2-4 days
                                        </label>
                                        <label class="container" for="4-6">
                                            <input type="checkbox" name="date_range" id="4-6" value="4-6" {% if request.GET.date_range == "4-6" %}checked{% endif %}>
                                            <span class="checkmark"></span> 
                                            6-8 days
                                        </label>
                                        <label class="container" for="6-8">
                                            <input type="checkbox" name="date_range" id="6-8" value="6-8" {% if request.GET.date_range == "6-8" %}checked{% endif %}>
                                            <span class="checkmark"></span> 
                                            6-8 days
                                        </label>
                                        <label class="container" for="8+">
                                            <input type="checkbox" name="date_range" id="8+" value="8+" {% if request.GET.date_range == "8+" %}checked{% endif %}>
                                            <span class="checkmark"></span> 
                                            8+ days
                                        </label>
                           
                                    </div>
                                    <button type="submit" class="btn head-btn1">Filter</button>
                                </form>
                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <div class="single-listing">
                            <!-- Range Slider Start -->
                            <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                                <div class="small-section-tittle2">
                                    <h4>Filter Jobs</h4>
                                </div>
                                <div class="widgets_inner">
                                    <div class="range_item">
                                        <input type="text" class="js-range-slider" value="" />
                                        <div class="d-flex align-items-center">
                                            <div class="price_text">
                                                <p>Price :</p>
                                            </div>
                                            <div class="price_value d-flex justify-content-center">
                                                <input type="text" class="js-input-from" id="amount" readonly />
                                                <span>to</span>
                                                <input type="text" class="js-input-to" id="amount" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <!-- Range Slider End -->
                        </div>
                    </div>
                    <!-- Job Category Listing End -->
                </div>
                <!-- Right content -->
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <!-- Featured_job_start -->
                    <section class="featured-job-area">
                        <div class="container">
                            <!-- Count of Job list Start -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="count-job mb-35">
                                        <span>{{total_jobs}} total jobs</span>
                                        <!-- Select job items start -->
                                        <div class="select-job-items">
                                            <span>Sort by</span>
                                            <select name="select">
                                                <option value="">None</option>
                                                <option value="">job list</option>
                                                <option value="">job list</option>
                                                <option value="">job list</option>
                                            </select>
                                        </div>
                                        <!--  Select job items End-->
                                    </div>
                                </div>
                            </div>
                            <!-- Count of Job list End -->
                            <!-- single-job-content -->
                            {% for jobs in object_list %}
                            <div class="{% if job.is_featured %}featured-jobs{% endif %}">
                                <div class="single-job-items mb-30">
                                    <div class="job-items">
                                        <div class="company-img">
                                            {% if jobs.company_logo %}
                                                <a href="{% url 'job_detail' pk=jobs.pk %}"><img src="{{ jobs.company_logo.url }}" alt="" style="width: 60px; height: 60px;"></a>
                                            {% else %}
                                                <p>upload Logo</p>
                                            {% endif %}
                                        </div>
                                        <div class="job-tittle job-tittle2">
                                            <a href="{% url 'job_detail' pk=jobs.pk %}">
                                                <h4>{{ jobs.title }}</h4>
                                            </a>
                                            <ul>
                                                <li>{{ jobs.company.industry }}</li>
                                                <li><i class="fas fa-map-marker-alt"></i>{{ jobs.location }}</li>
                                                <li>{{ jobs.salary }} Birr</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="items-link items-link2 f-right">
                                        <a href="{% url 'job_detail' pk=jobs.pk %}">{{ jobs.job_type }}</a>
                                        <span>{{ jobs.posted_date }} ago</span>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>
                    </section>
                    <!-- Featured_job_end -->
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation mt-4">
            <ul class="pagination justify-content-center mt-3">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" style=" text-decoration: none; color: brown;">Previous</a>        </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active">
                    <span class="page-link" style=" text-decoration: none; color: brown;">{{ num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}" style=" text-decoration: none; color: brown;">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" style=" text-decoration: none; color: brown;">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </main>
    </div>
    <!-- Job List Area End -->
    <!-- Pagination Start  -->
    

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to handle dropdown change
        function handleFilterChange() {
            // Get the selected values from the dropdowns
            var category = $('#category').val();
            var location = $('#location').val();
            var jobType = $('#job_type').val();

            // Construct the URL with the selected values
            var url = '{% url "job-list" %}?category=' + category + '&location=' + location + '&job_type=' + jobType;

            // Redirect to the new URL
            window.location.href = url;
        }

        // Attach the handleFilterChange function to the change event of the dropdowns
        $('#category, #location, #job_type').change(function () {
            handleFilterChange();
        });
    });
</script>

{% endblock %}
